/emacs.d/.org-id-locations
/emacs.d/bookmarks
/emacs.d/url/
/emacs.d/tramp
/emacs.d/eshell/

/emacs.d/#type-break#
/emacs.d/.#type-break
/emacs.d/ido.last
/emacs.d/recentf
/emacs.d/type-break
/emacs.d/#init.el#
/emacs.d/custom/scrum.el
/emacs.d/custom/xml-rpc.el
/emacs.d/var/
/emacs.d/projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/session.2388b2f9c-98ac-4c1a-b399-b8634513799c
/emacs.d/image-dired/
/emacs.d/mymacs/init.el~
