elpa/
saved-places
.gitignore.swp
auto-save-list/
.emacs.desktop
.emacs-places
.emacs.desktop.lock
auto-install
ac-comphist.dat
org-clock-save.el
/bookmarks~
/.mc-lists.el
/.lsp-session-v1
*.el~
/org-roam.db
/network-security.data
/projects
/recentf~
/smex-items
/emacs-init.el
